In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from scipy import stats
import numpy as np

In [3]:
# Define the folder path
data_dir = Path(r'C:\Users\Roy\Documents\VisualCode\Python\bank-prediction-casestudy\data')
print('Data path:',data_dir)

Data path: C:\Users\Roy\Documents\VisualCode\Python\bank-prediction-casestudy\data

In [4]:
# Find all CSV files (including subfolders)
csv_files = list(data_dir.rglob('*.csv'))
print(f"Found {len(csv_files)} CSV files:\n")

if csv_files:
    for file in csv_files:
        print(f"- {file.name}")
else:
    print("Current folder doen't have any .CSV files")

Found 4 CSV files:

- bank-full.csv
- bank.csv
- bank-additional-full.csv
- bank-additional.csv

In [5]:
# Selection of the file to be considered
bank_additional_data_full = Path(r'C:\Users\Roy\Documents\VisualCode\Python\bank-prediction-condaforge\data\bank-additional\bank-additional-full.csv')
bank_additional_data = Path(r'C:\Users\Roy\Documents\VisualCode\Python\bank-prediction-condaforge\data\bank-additional\bank-additional.csv')
bank_data_full = Path(r'C:\Users\Roy\Documents\VisualCode\Python\bank-prediction-condaforge\data\bank\bank-full.csv')
bank_data = Path(r'C:\Users\Roy\Documents\VisualCode\Python\bank-prediction-condaforge\data\bank\bank.csv')

In [7]:
# Display the first few rows of the dataset
df1 = pd.read_csv(bank_additional_data_full, sep=';')
df2 = pd.read_csv(bank_additional_data, sep=';')
df3 = pd.read_csv(bank_data_full, sep=';')
df4 = pd.read_csv(bank_data, sep=';')

#print('size of bank dataset:', df1.shape)
print(f'Size of bank datasets: df1: {df1.shape}, df2: {df2.shape}, df3: {df3.shape}, df4: {df4.shape}')
# Display the first few rows of the dataset
#df1.head(); df2.head(); df3.head(); df4.head()

#print(df.head())

Size of bank datasets: df1: (41188, 21), df2: (4119, 21), df3: (45211, 17), df4: (4521, 17)

Based on size of data set for each .CSV file.

Selecting which dataset has more attributes and records.

The dataset with the most attributes and records is the one we will use for our analysis.

In this case, it is the bank-additional-full.csv file.

In [9]:
# selected the more attributes dataset i.e bank-additional-full.csv
# Display the first few rows of the dataset
df = pd.read_csv(bank_additional_data_full, sep=';')
print('size of data set:', df.shape ,'\n')
df.head()
#print(df.head())

size of data set: (41188, 21)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [10]:
# identify the features
print('statiscal description of the dataset:')
df.describe()

statiscal description of the dataset:

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [11]:
print('Dataframe infos :\n')
df.info()

Dataframe infos :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB